* {
    color: white;
}

h1, h3, .match-header, .winner, .radiant.header, .dire.header, .date {
    font-family: 'Cinzel', serif;
}

label, .player-name {
    font-family: 'Open Sans', sans-serif;
}

.player-name {
    font-size: 1.6em;
    text-align: left;
    margin-right: 5%;
    float: left;
    min-width: 8em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.2em;
    text-align: right;
}

h3, .table, .player-header {
    margin-left: 10%;
}

.radiant.header, .dire.header {
    margin-left: 11.4%;
    text-align: left;
}

.table-row.radiant {
    background-color: #17eabc48;
}

.radiant {
    color: #17eabc;
}

.table-row.dire {
    background-color: #e52f1848
}

.dire {
    color: #e52f18
}

h3 {
    text-align: left;
    font-size: 2.5em;
}
button {
    color: black;
}

a:link {
    text-decoration: none;
}

#radiant-filter::before {
    filter: hue-rotate(280deg)
}

#dire-filter::before {
    filter: hue-rotate(140deg)
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url("background.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-repeat: repeat; */
}

body {
    overflow: auto;
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgb(35, 35, 35);
    text-align: center;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input[type="file"] {  
    position: relative;
    left: 34px;
}

form input[type="submit"] {
    margin-top: 32px;
}

input {
    color: black;
}
input[type='password'] {
    width: 70%;
}
input[type='submit'] {
    width: 25%;
}
h1 {
    margin-bottom: 0px;
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
}
.match-header  {
    margin-top: -1.5em;
    font-size: 1.2em;
}
.date {
    font-size: 2.0em;
    margin-bottom: -0.1em;
}
.winner {
    font-size: 6em;
    margin-bottom: -0.2em;
}

tr {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}

td, .cell {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5vmax;
    font-size: 10pt;
}

.cell.match-hero-img {
    height: 100%;
    position: relative;
    width: auto;
    top: 0%;
    margin-right: 5px;
    margin-left: 5px;
}

.cell.cell-hero-title, .cell.cell-hero-img {
    margin-left: 5px;
    margin-right: 10px;
}
.cell.cell-player-date-header, .cell.cell.cell-player-date {
    width: 6em;
}
.cell.cell.cell-player-date {
    top: 12.5%;
}

img {
    height: 100%;
}

.cell.cell-hero-img {
    overflow: hidden;
    top: 0%;
}

.cell.cell-player-profile-pic {
    top: 0%;
    margin-left: 5px;
    margin-right: 3em;
}

@media screen and (max-width: 640pt) {
    .match-header  {
        margin-top: -3em;
        font-size: 0.8em;
    }
    .date {
        font-size: 0.8em;
        margin-bottom: 1em;
    }
    .winner {
        font-size: 2em;
        margin-bottom: -0.2em;
    }
    .cell {
        width: 2em;
    }
    .cell.cell-player {
        max-width: 20em;
    }
    .cell.cell-item-img, .cell.cell-item, .cell.cell-item-adjust {
        display: none;
    }
    .cell.cell-extra {
        display: none;
    }
    .cell.cell-buff {
        display: none;
    }
}
.cell.cell-player {
    width: 11em;
    margin-right: 10px;
}

.cell.cell-item-adjust {
    top: 0%;
}
.cell.cell-item-img, .cell.cell-item-adjust {
    min-width: 17em;
    max-height: 50%;
    float: left;
    overflow: hidden;
}
.cell-buff-img {
    /* height: 100%; */
    z-index: 0;
    /* position: absolute; */
    /* float: left; */
    clear: left;

}

.cell-buff-value {
    /* clear: left; */
    font-size: 8pt;
    position: relative;
    bottom: 11pt;
    left: 20px;
    z-index: 1;
    width: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.cell.cell-item.cell-item-adjust {
    top: 0%;
}

img {
    position: relative;
}

.cell-player-rank {
    text-align: center;
}

.cell.cell-big-player-name {
    flex-grow: 1;
}

.cell.cell-big-player-name a {
    word-wrap: anywhere;
}

.cell.cell-big {
    min-width: 1em;
    font-family: 'Cinzel', serif;
    font-size: 0.7em;
    margin-left: 5px;
}

.paginate {
    margin: auto;
    width: fit-content;
    background-color: rgba(27, 29, 59, 0.4);
    font-family: 'Open Sans', sans-serif;
}

.table-row.table-row-big {
    height: 3em;
}

.table-big {
    font-size: 2em;
    margin: 0 auto;
    text-align: left;
    width: 90%;
    max-width: 25em;
    border-spacing: 20 10; 
}

.table, .player-header {
    text-align: left;
    width: 80%;
    border-spacing: 10 5; 
}

.table, .table-big {
    display: table;
    margin-bottom: 0.8em;
}

.player-wl-header, .player-mmr-header, .player-win-pc-header {
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
}

.player-section {
    float: left;
    clear: left;
    margin-right: 10%;
}

.player-wl-value, .player-mmr-value, .player-win-pc-value {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.player-header {
    display: flex;
    align-items: center;
}

.player-header {
    height: 120px;
}

.player-pic {
    margin: 20px;
    overflow: visible;
    height: 80px;
}

.player-header {
    background-color: rgba(27, 29, 59, 0.4)
}

@media screen and (max-width: 900pt) {
    .table, .player-header {
        width: 100%;
        margin-left: 0;
    }
    .cell {
        width: 2em;
    }
    h3 {
        margin-left: 0;
        text-align: center;
    }
    .cell.cell-buff {
        display: none;
    }
}

.table-row {
    display: flex;
    margin: 5px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
}

.input-type-file {
    color: whitesmoke;
}

.cell {
    display: table-cell;
    float: left;
    /* overflow: auto; */
    position: relative;
    top: 25%;
    width: 2.5em;
    height: 100%;
    margin-right: 3px;
}
.cell.cell-player-match-id {
    width: 9em;
}
.cell.cell-long, .cell.cell-extra {
    width: 5.5em;
}

.cell.cell-item {
    width: 14em;
    /* min-width: 10%; */
    /* max-width: 25%; */
    height: 100%;
    clear: right;
}
.cell.cell-buff {
    height: 100%;
}
.cell.cell-buff{
    width: 7em;
    max-height: 100%;
    /* float: left; */
}

.cell-buff-modifier {
    height: 50%;
    float: left;
}

#login-fail {
    color: red;
    text-align: center;
    font-size: 1em;
}
#table-header {
    background-color: rgba(0,0,0,0);
}
#submit-score {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
}