* {
    color: white;
}
h1 {
    font-family: 'Cinzel', serif;
}
label {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.2em;
    text-align: right;
}
button {
    color: black;
}

body {
    background-image: url("background.jpg");
    background-color: rgb(35, 35, 35);
    background-repeat: repeat;
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
}
input {
    color: black;
}
input[type='password'] {
    width: 70%;
}
input[type='submit'] {
    width: 25%;
}
h1 {
    padding-top: 85px;
    margin-bottom: 0px;
    font-size: 8.8vw;
    font-weight: normal;
    text-align: center;
}
/*  */
tr {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}
td, .cell {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5vmax;
    font-size: 10pt;
}

.match-hero-img {
    max-height: 100%;
    position: relative;
    width: auto;
}
.cell.cell-hero-img {
    position: relative;
    top: 0%;
}

@media screen and (max-width: 600px) {
    .cell.cell-player {
        max-width: 20%;
    }
}
.cell.cell-player {
    width: 20%;
}

.cell-item-img {
    max-height: 50%;
}

.cell-bp-img {
    max-height: 50%;
    filter: brightness(0.4)
}

.table {
    display: table;
    text-align: left;
    margin-left: 12vw;
    width: 74vw;
    border-spacing: 10 5;    
}


@media screen and (max-width: 800px) {
    .table {
        width: 100%;
        margin-left: 0;
    }
    .cell.cell-item {
        display: none;
    }
}

.table-row {
    /* display: table-row; */
    margin: 5px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.cell {
    display: table-cell;
    float: left;
    overflow: auto;
    position: relative;
    top: 25%;
    width: 5%;
    height: 100%;
    margin-right: 1px;
}

.cell-item {
    min-width: 10%;
    max-width: 30%;
    height: 100%;
    clear: right;
}

#login-fail {
    color: red;
    text-align: center;
    font-size: 1em;
}
#table-header {
    background-color: rgba(0,0,0,0);
}
#submit-score {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
}