* {
    color: white;
}

h1, h3, .match-header, .winner, .radiant.header, .dire.header, .date {
    font-family: 'Cinzel', serif;
}

label, .player-name {
    font-family: 'Open Sans', sans-serif;
}

.player-name {
    font-size: 1.6em;
    text-align: left;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.2em;
    text-align: right;
}

h3, .table, .player-header {
    margin-left: 12vw;
}

.radiant.header, .dire.header {
    margin-left: 13.4vw;
    text-align: left;
}

.radiant {
    color: #17eabb;
}

.dire {
    color: #e52f18
}

h3 {
    text-align: left;
    font-size: 2.5em;
}
button {
    color: black;
}

a:link {
    text-decoration: none;
}

#radiant-filter::before {
    filter: hue-rotate(300deg)
}

#dire-filter::before {
    filter: hue-rotate(100deg)
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url("background.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-repeat: repeat; */
}

body {
    overflow: auto;
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgb(35, 35, 35);
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
}
input {
    color: black;
}
input[type='password'] {
    width: 70%;
}
input[type='submit'] {
    width: 25%;
}
h1, .match-header {
    margin-bottom: 0px;
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
}
.date {
    margin-top: -1em;
    font-size: 0.8em;
}
.winner {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 3em;
}

tr {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}

td, .cell {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5vmax;
    font-size: 10pt;
}

.match-hero-img {
    max-height: 100%;
    position: relative;
    width: auto;
}

.cell.cell-hero-title, .cell.cell-hero-img {
    margin-left: 5px;
}

.cell.cell-hero-img {
    position: relative;
    top: 0%;
}

@media screen and (max-width: 640px) {
    .cell {
        min-width: 8%;
    }
    .cell.cell-player {
        max-width: 20%;
    }
    .cell.cell-item {
        display: none;
    }
    .cell.cell-extra {
        display: none;
    }
}
.cell.cell-player {
    width: 18%;
    margin-right: 10px;
}

.cell-item-img {
    max-height: 50%;
    float: left;
}

.cell.cell-item.cell-item-adjust {
    top: 0%;
}

.cell-bp-img {
    max-height: 50%;
    float: left;
    clear: left;
    filter: brightness(0.4);
}

.table, .player-header {
    text-align: left;
    width: 80vw;
    border-spacing: 10 5; 
}

.table {
    display: table;
}

.player-wl-header, .player-mmr-header, .player-win-pc-header {
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
}

.player-name {
    margin-right: 10%;
}

.player-section {
    float: left;
    clear: left;
    margin-left: 10%;
}

.player-wl-value, .player-mmr-value, .player-win-pc-value {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.player-header {
    display: flex;
    align-items: center;
}

.player-header {
    height: 120px;
}

.player-name, .player-pic {
    float: left;
    overflow: auto;
    position: relative;
}

.player-pic {
    margin: 20px;
}

.player-pic-img {
    height: 80px;
}

.player-header {
    background-color: rgba(27, 29, 59, 0.4)
}

@media screen and (max-width: 850px) {
    .table, .player-header {
        width: 100%;
        margin-left: 0;
    }
    h3 {
        margin-left: 0;
        text-align: center;
    }
}

.table-row {
    /* display: table-row; */
    margin: 5px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.cell {
    display: table-cell;
    float: left;
    overflow: auto;
    position: relative;
    top: 25%;
    width: 5.5%;
    height: 100%;
    margin-right: 1px;
}

.cell.cell-item {
    width: 23%;
    /* min-width: 10%; */
    /* max-width: 25%; */
    height: 100%;
    clear: right;
}

#login-fail {
    color: red;
    text-align: center;
    font-size: 1em;
}
#table-header {
    background-color: rgba(0,0,0,0);
}
#submit-score {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
}